# Archivos de entorno y configuración locales que agregaste
.env
api.json

# Binarios de Go
/app
*.exe
*.exe~
*.dll
*.so
*.dylib

# Archivos de Test y Profiling
*.test
*.out
*.prof
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

# Archivos de la build de Go
_obj/
_test/
_testmain.go

# Entornos de desarrollo / IDEs
.idea/
.vscode/
*.swp
*.swo

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db
api